.ant-card-meta {
    display: flex;
    align-items: center;
}

.ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 0 !important;
}

.friend-card__link:hover {
    text-decoration: underline;
}